.pricing-wrap-layout {
  padding: 112px 0 118px;
}
@media only screen and (max-width: 991px) {
  .pricing-wrap-layout {
    padding: 97px 0 75px;
  }
}
@media only screen and (max-width: 767px) {
  .pricing-wrap-layout {
    padding: 82px 0 60px;
  }
}
@media only screen and (max-width: 575px) {
  .pricing-wrap-layout {
    padding: 67px 0 45px;
  }
}
.pricing-box-layout {
  background-color: #ffffff;
  padding: 80px 30px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.pricing-box-layout .status-shape {
  z-index: 2;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 80px solid #5a49f8;
  border-left: 80px solid transparent;
}
.pricing-box-layout .status-shape .status-text {
  z-index: 3;
  top: -65px;
  right: 0;
  transform: rotate(45deg);
  color: #ffffff;
}
.pricing-box-layout .item-title {
  color: #646464;
  font-weight: 500;
  font-size: 20px;
}
.pricing-box-layout .block-list li {
  margin-bottom: 20px;
}
.pricing-box-layout .item-price {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #5a49f8;
  font-weight: 600;
  z-index: 1;
}
.pricing-box-layout .item-price .super-script {
  z-index: 1;
  font-size: 16px;
  top: 0;
  right: -20px;
  line-height: 1;
}
.pricing-box-layout:hover {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 2;
  transform: scale(1.04);
}